
@{
    ViewData["Title"] = "RegisterVaccination";
}

@model VaccinationViewModel



<h2 class="text-center">Register vaccination</h2>

<form class="container rounded form__registervaccination" method="post" novalidate>
    <div class="form-group">
        <label for="patientIdCard">Patient ID card</label>
        <input class="form-control" id="patientIdCard" asp-for="IdCard" aria-describedby="idCard">
        <span class="field-validation-error" asp-validation-for="IdCard"></span>
    </div>
    <div class="form-group">
        <select class="form-control" id="s_vaccinationType" asp-for="VaccinationType" searchable="Search here" title="-- Select vaccine type --">

            @foreach (string item in ViewBag.Vaccines)
            {
                <option> @Html.DisplayFor(modelItem => item)</option>
            }
        </select>
        <span class="field-validation-error" asp-validation-for="VaccinationType"></span>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="ta_description" asp-for="Description" placeholder="About the vaccine"> </textarea>
        <span class="field-validation-error" asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <label for="applicationDate">Application date</label>
        <input type="date" class="form-control" id="it_applicationDate" asp-for="ApplicationDate" />
        <span class="field-validation-error" asp-validation-for="ApplicationDate"></span>
    </div>
    <div class="form-group">
        <label for="nextApplicationDate">Next vaccination date</label>
        <input type="date" class="form-control" id="it_nextApplicationDate" asp-for="NextVaccinationDate" />
        <span class="field-validation-error" asp-validation-for="NextVaccinationDate"></span>
    </div>
    <button type="button" id="btnRegisterVaccination" class="btn btn-light">Register vaccination</button>
</form>

<div class="message">

</div>



@section scripts
{
    <script src="~/js/Vaccine/RegisterVaccine.js"></script>
   
    <partial name="_ValidationScriptsPartial" />
}





