@model AllergyViewModel
@{
    ViewData["Title"] = "RegisterAllergy";
}

<h1>Register Allergy</h1>
<hr />
<form class="container mt-4 mb-3 py-3 bg-light form__register needs-validation" method="post">
    <div class="form-group mb-3">
        <label for="patientIdCard" class="mb-1">Patient ID card</label>
        <input class="form-control" id="patientIdCard" placeholder="Enter the patien's ID" asp-for="IdCard" aria-describedby="idCard">
        <span class="field-validation-error" asp-validation-for="IdCard"></span>
    </div>
    <div class="form-group mb-3">
        <label for="allergy_t" class="mb-1">Select allergy type</label>
        <select id="s_allergy_type" class="selectpicker form-control" asp-for="AllergyType" data-live-search="true" title="-- Select allergy type --">
            <option selected disabled>Choose a option</option>
            @foreach (string item in ViewBag.Allergies)
            {
                <option class="select_opcion"> @Html.DisplayFor(modelItem => item)</option>
            }
        </select>
        <span class="field-validation-error" asp-validation-for="AllergyType"></span>
    </div>
    <div class="form-group mb-3">
        <label for="description" class="mb-1">Description</label>
        <textarea class="form-control" id="ta_description" asp-for="Description" placeholder="About the vaccine"> </textarea>
        <span class="field-validation-error" asp-validation-for="Description"></span>
    </div>
    <div class="form-group mb-3">
        <label for="diagnosticDate" class="mb-1">Diagnostic date</label>
        <input type="date" class="form-control" id="it_DiagnosticDate" asp-for="DiagnosticDate" />
        <span class="field-validation-error" asp-validation-for="DiagnosticDate"></span>
    </div>
    <div class="container d-flex justify-content-center mt-2">
        <button id="btnRegisterAllergy" type="button" class="btn btn-dark">Register</button>
    </div>
</form>

<div class="message">

</div>

@section scripts
{
    <script src="~/js/Allergy/RegisterAllergy.js"></script>
    <partial name="_ValidationScriptsPartial" />
}


