@model IF4101_proyecto3_web.Models.AppointmentViewModel
@{
    ViewData["Title"] = "Schedule appointment";
}

<div class="container text-center mt-4 mb-3">
    <h1 class="promo-table__title d-inline me-3">Manage appointments</h1>
    <button id="btn__search--appointment" class="btn mb-2 d-inline btn__search" data-bs-toggle="modal" data-bs-target="#searchModal"><img src="~/search_black_24dp.svg" alt="Icon search" /></button>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 scrollme">
            <table class="table table-bordered table-responsive">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Patient name</th>
                        <th scope="col">Specilty type</th>
                        <th scope="col">Medical center</th>
                        <th scope="col">Diagnostic</th>
                        <th scope="col">Date</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="tbodySearchAppointment"></tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
            </div>
            <div class="modal-body">
                <form method="POST">
                    <div class="container">
                        <label class="mt-2 mb-2">Patient's ID</label>
                        <input id="inPatientId" class="form-control" type="text" placeholder="Enter the patient ID" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="btn_search" type="button" class="btn btn-primary">Search</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addDescriptionModal" tabindex="-1" aria-labelledby="addDescriptionModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Diagnostic description</h5>
            </div>
            <div class="modal-body">
                <form method="POST">
                    <div class="container">
                        <textarea id="inDescription" class="form-control" type="text" placeholder="" required></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="btn_confirm" type="button" class="btn btn-primary">Confirm diagnostic</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="updateAppointment" tabindex="-1" aria-labelledby="updateAppointment" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update appointement</h5>
            </div>
            <div class="modal-body">
                <form method="POST" class="needs-validation" novalidate>
                    <div class="form-group mb-3">
                        <label class="mb-1">Health centers</label>
                        <select id="selectHealthCenters" class="form-select form-control" asp-for="HealthCenter"></select>
                        <span class="field-validation-error" asp-validation-for="SpecialityType"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="mb-1">Appointment date</label>
                        <input id="inDate" class="form-control" asp-for="Date">
                        <span class="field-validation-error" asp-validation-for="Date"></span>
                    </div>
                    <div class="form-group  mb-3">
                        <label class="mb-1">Speciality type</label>
                        <select id="selectSpecialityTypes" class="form-select form-control" asp-for="SpecialityType"></select>
                        <span class="field-validation-error" asp-validation-for="SpecialityType"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btnCloseModal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="btn_confirmUpdate" type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="~/js/manage_appointment.js"></script>
    <partial name="_ValidationScriptsPartial" />
}