@model IF4101_proyecto3_web.Models.AppointmentViewModel
@{
    ViewData["Title"] = "Schedule appointment";
}

<h1>Schedule Appoitment</h1>
<hr />
<form class="container mt-4 mb-3 py-3 bg-light form__register needs-validation" method="POST" asp-controller="Appointment" asp-action="Schedule_" novalidate>
    <div class="form-group mb-3">
        <label class="mb-1">Patient's ID</label>
        <input class="form-control" placeholder="Enter the patient's ID" asp-for="PatientCard">
        <span class="field-validation-error" asp-validation-for="PatientCard"></span>
    </div>
    <div class="form-group mb-3">
        <label class="mb-1">Health centers</label>
        <select class="form-select form-control" asp-for="HealthCenter">
            <option selected disabled>Choose a option</option>
            @foreach (string item in ViewBag.HealthCenters)
            {
                <option class="select_opcion">@Html.DisplayFor(modelItem => item)</option>
            }
        </select>
        <span class="field-validation-error" asp-validation-for="SpecialityType"></span>
    </div>
    <div class="form-group mb-3">
        <label class="mb-1">Appointment date</label>
        <input class="form-control" asp-for="Date">
        <span class="field-validation-error" asp-validation-for="Date"></span>
    </div>
    <div class="form-group  mb-3">
        <label class="mb-1">Speciality type</label>
        <select class="form-select form-control" asp-for="SpecialityType">
            <option selected>Choose a option</option>
            @foreach (string item in ViewBag.SpecialityTypes)
            {
                <option class="select_opcion">@Html.DisplayFor(modelItem => item)</option>
            }
        </select>
        <span class="field-validation-error" asp-validation-for="SpecialityType"></span>
    </div>
    <div class="container d-flex justify-content-center my-3">
        <button type="submit" class="btn btn-dark">Submit</button>
    </div>
</form>

@section scripts
{
    <script>
        $(document).ready(function () {
            if ("@ViewBag.response" !== "") {
               createModalResponse("@ViewBag.response");
            }
       });
    </script>
    <partial name="_ValidationScriptsPartial" />
}